<div class="main-content">
    <div class="main-content-post">
        <% page.posts.each(function (post) { %>
            <article class="post">
                <div class="post-title">
                    <a href="<%- url_for(post.path) %>">
                        <% if(post.top) { %>[顶]
                        <% } %>
                        <%= post.title %></a>
                </div>
                <div class="post-excerpt">
                    <%- post.excerpt %>
                </div>
                <div class="post-content">
                    <a href="<%- url_for(post.path) %>">阅读全文</a>
                    <% if (post.tags && post.tags.length){ %>
                        <%- list_tags(post.tags, {
                            show_count: false,
                            class: 'article-tag'
                        }) %>
                    <% } %>
                </div>
                <div class="post-media">
                    <span class="post-time">posted&nbsp;@&nbsp;<%- date(post.date, "YYYY-MM-DD HH:mm:ss") %></span>
                </div>
            </article>
        <% }) %>
        <%- partial("_partial/paginator") %>
        <div class="footer">
            <span style="display:none" class="begin"><%= theme.Begin %></span>
            网站运行时间<span id="d"></span>天<span id="h"></span>时<span id="m"></span>分<span id="s"></span>秒<br>
            <% if (theme.Footer.counter){ %>
                <span id="container_site_uv">访客数<span
                            id="value_site_uv">calculating</span>人</span></div>
            <script>let requestUrl=window.location.href.replace(/http:\/\/|https:\/\//,"");function sendPost(url,requestUrl){let xhr=new XMLHttpRequest();xhr.onreadystatechange=function(){if(xhr.readyState==4&&xhr.status==200){let result=xhr.responseText;document.getElementById("value_site_uv").innerText=result}};xhr.open("POST",url,true);xhr.send(requestUrl)}sendPost("<%= theme.Footer.server %>",requestUrl)</script>
        <% } %>
    </div>
</div>