<!doctype html>
<html lang="en">
<%- partial("_partial/head") %>
<body>
<%- partial("_partial/header") %>
<main class="main">
    <%- body %>
</main>
<%- partial("_partial/aside") %>
<%- partial("_partial/about") %>
<%- partial("_partial/search") %>
<%- partial("_partial/particles") %>
<%- js("https://cdn.jsdelivr.net/gh/meethigher/cdn@9.0/js/jquery.min.js") %>
<%- js("https://cdn.jsdelivr.net/gh/meethigher/cdn@9.0/js/particles.min.js") %>
<%- js("https://cdn.jsdelivr.net/gh/meethigher/cdn@9.0/js/app.js") %>
<%- js("https://cdn.jsdelivr.net/gh/meethigher/cdn@11/js/layer/layer.js") %>
<%- js("https://cdn.jsdelivr.net/gh/meethigher/cdn@13/js/instantpage.js") %>
<%- js("https://cdn.jsdelivr.net/gh/meethigher/cdn@14/js/lazyload.js") %>
<%- js("js/lazyloadImpl.js") %>
<%- js("js/meethigher.js") %>
<%- js("js/about.js") %>
</body>
</html>