<!doctype html>
<html lang="zh-CN">
<%- partial("_partial/head") %>
<body>
<%- partial("_partial/header") %>
<%- partial("_partial/particles") %>
<%- js("js/module/tsparticles.min.js") %>
<%- js("js/module/app.js") %>
<%- partial("_partial/tool") %>
<main class="main">
    <%- body %>
</main>
<%- js("js/module/jquery.min.js") %>
<%- js("js/module/viewer.min.js" ) %>
<%- js("js/module/jquery-viewer.min.js") %>
<%- js("js/module/layer/layer.js") %>
<%- js("js/check-ua.js") %>
<%- js("js/module/instantpage.js") %>
<%- js("js/meethigher.js") %>
</body>
</html>
