<aside class="aside">
    <div class="aside-content">
        <div class="aside-avatar"><img src="<%= theme.Aside.Avatar %>" alt="<%= theme.Aside.Author %>"></div>
        <div class="aside-author"><%= theme.Aside.Author %></div>
        <div class="aside-description"><%= theme.Aside.Description %></div>
        <ul class="aside-contact clearFix">
            <li><span class="fa fa-github"></span><a href="<%= theme.Aside.Github %>">Github</a></li>
            <li><span class="fa fa-envelope"></span><a href="javascript:void(0);"><%= theme.Aside.Email %></a></li>
            <li><span class="fa fa-weixin"></span><a href="javascript:void(0);"><img src="<%= theme.Aside.Weixin %>" alt="扫描微信二维码，加我哦！"></a></li>
        </ul>
    </div>
</aside>