<% if (page.comments && theme.gitalk.enable){ %>
<div class="post-comment"><span class="instruction">若无法评论请科学上网</span><div id="gitalk-container"></div></div>
<link rel="stylesheet" href="<%- url_for("css/gitalk.css") %>">
<!--使用defer可以保证不阻塞html解析，一定程序上能提高加载效率。-->
<script defer src="<%- url_for("js/module/gitalk.js") %>"></script>
<script type="text/javascript">
    //多个监听会按添加监听的顺序执行
    document.addEventListener('DOMContentLoaded', function() {
        var gitalk = new Gitalk({
            clientID: '<%=theme.gitalk.ClientID%>',
            clientSecret: '<%=theme.gitalk.ClientSecret%>',
            repo: '<%=theme.gitalk.repo%>',
            owner: '<%=theme.gitalk.githubID%>',
            admin: ['<%=theme.gitalk.adminUser%>'],
            id: location.pathname,
            distractionFreeMode: '<%=theme.gitalk.distractionFreeMode%>'
        })
        gitalk.render('gitalk-container')
    });
</script>
<% } %>