<% if (page.comments && theme.gitalk.enable){ %>
<div class="post-comment"><span class="instruction">翻墙之后才能评论哦</span><div id="gitalk-container"></div></div>
<link rel="stylesheet" href="<%- url_for("css/gitalk.css") %>">
<script src="<%- url_for("js/gitalk.js") %>"></script>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '<%=theme.gitalk.ClientID%>',
        clientSecret: '<%=theme.gitalk.ClientSecret%>',
        repo: '<%=theme.gitalk.repo%>',
        owner: '<%=theme.gitalk.githubID%>',
        admin: ['<%=theme.gitalk.adminUser%>'],
        id: location.pathname,
        distractionFreeMode: '<%=theme.gitalk.distractionFreeMode%>'
    })
    gitalk.render('gitalk-container')
</script>
<% } %>